{% load staticfiles %}

<html>
<head>
	<title>ValHoo</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 
	<!-- Set the page to the width of the device and set the zoon level -->
	<meta name="viewport" content="width = device-width, initial-scale = 1">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

	<!-- CSS -->
	<link rel="stylesheet" type = "text/css" href="/static/css/main.css?{% now "U" %}">

	<!-- Ajax -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <!-- Old multiselect -->
    <!-- <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
        rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript"></script> -->

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-*.min.js"></script>

	
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
	<!-- Navigation Bar Horizontal -->
	<nav class="navbar navbar-custom center">
	  <div class="container-fluid navbar-inner">
	    <div class="navbar-header">
	     <a class="navbar-brand" href="#" style="padding-left: 50px;">ValHoo</a>
	   </div>
	    <ul class="nav navbar-nav" id="navContent">

		<form class="form-inline" action = "new_plot" method = "post">
			{% csrf_token %}
			{% include "modals.html" %}
	      	<li id = "one"><input type="text" name = "ticker" method = "post" class = "form-control"placeholder="Enter Company Ticker" size="20"></li>
	      	<li style="padding-right:10px"><select name = "values" id="valuesID" class="selectpicker" data-live-search="true" title="Select Data to Analyze"multiple>
		       	<option value="Change in Current Assets" >Change in Current Assets</option>
		        <option value="Change in Current Liabilities" >Change in Current Liabilities</option>
		        <option value="Effect of Exchange Rate on Cash">Effect of Exchange Rate on Cash</option>
		        <option value="Capital Expenditures" >Capital Expenditures</option>
	        	<option value="Revenue" >Revenue</option> 
	        	<option data-divider="true"></option>
	        	<option value="more" >More...</option>    
    		</select> </li>
    		<li><input type="submit" value="Submit" id="submit"></li>
    	</form>

	    </ul>
	  </div>
	</nav>

<!-- Side Navigation Bar -->
<div class="navbar navbar-custom navbar-fixed-left" id="side-bar">
  <a class="navbar-brand">Select:</a>
  <ul class="nav navbar-nav" >
   <li><a href="#" class = 'graph-settings' value = 'Line'>Line</a></li>
   <li><a href="#" class = 'graph-settings' value = 'Filled'>Filled</a></li>
   <li><a href="#" class = 'graph-settings' value = 'Scatter'>Scatter</a></li>
   <li><a href='#' class = 'graph-settings' value = 'Bar'>Bar</a></li>
   <li><a href='#' class = 'graph-settings' value = 'Pie'>Pie</a></li>
  </ul>
</div>
<div class="container">
 <div class="row">
 </div>
</div>

<!-- <div id="38c39654-d2de-4ed2-9d1e-10ff1559d071" style="height: 100%; width: 100%;" class="plotly-graph-div"></div>
<script type="text/javascript">

window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("38c39654-d2de-4ed2-9d1e-10ff1559d071", [{"name": "Change in Current Assets", "type": "bar", "x": [1, 2, 3, 4], "y": [7758000000.0, 5729000000.0, 1232000000.0, 599000000.0]}], {"xaxis": {"titlefont": {"size": 18, "color": "#7f7f7f", "family": "Courier New, monospace"}, "title": "Year"}, "yaxis": {"titlefont": {"size": 18, "color": "#7f7f7f", "family": "Courier New, monospace"}, "title": "Value"}, "title": "FORD MOTOR CO"}, {"linkText": "Export to plot.ly", "showLink": true})
</script> -->


	</div>
    <!-- Plot -->
	<div style="margin:0 auto;text-align:center" value = 'line'>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		{{ url | safe}}
		
	</div>
	<script src="{% static 'javascript/scripts' %}"></script>
	<script src="{% static 'javascript/sideNavBar.js' %}"></script>

</body>
</html>